.profile__picture {
    max-width: 100px;
    height: 100px;
    margin-right: 1rem;
}

.profile__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.profile__card {
    display: flex;
    max-width: 350px;
    background: #082032;
    border: 1px solid skyblue;
    border-radius: 0.75rem;
    padding: 1rem;
}

.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}