.cripto__page__container {
    display: grid;
    grid-template-columns: 480px 1fr;
    gap: 2rem;
    position: relative;
}
  
.cripto__page__container .info {
    position: fixed;
}
  
.cripto__page__container .history {
    grid-column-start: 2;
}
  
.cripto__page__container .main-info {
    margin-bottom: 2rem;
}
  
.cripto__page__container .symbol {
    color: rgba(255, 255, 255, 0.5);
}
  
.cripto__page__container .details {
    background: #082032;
    border: 1px solid skyblue;;
    border-radius: 8px;
    padding: 1.5rem;
    padding-left: 2.5rem;
}
  
.cripto__page__container .detail {
    margin-bottom: 1rem;
}
  
.cripto__page__container h1 {
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: .2rem;
}
  
table {
    width: 100%;
    background: #082032;
    border: 1px solid skyblue;;
    border-radius: 8px;
    padding: 1rem;
}
  
td, th {
    padding: 1rem;
    border-collapse: collapse;
    text-align: left;
}
  
thead tr {
    border-bottom: 1px solid skyblue;;
}
  
tbody tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.04);
    border-radius: 8px;
}
  
.history .price {
    color: #4FFF60;
}