@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

*, *before, *after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: #2C394B;
    min-width: 98vh;
}

h1 {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 1rem;
}